# This defines all of the variables passed into the Bahmni installer at the time of installation

implementation_name: "{{ implementation_name }}"
bahmni_ntp_timezone: "{{ bahmni_ntp_timezone }}"

bahmni_repo_url: "{{ bahmni_repo_url }}"

openmrs_server_options: "{{ openmrs_server_options }}"
